#navdiv{
    display:flex;
    width: 8%;
    margin-left:70%;
    justify-content: space-around;
    margin-top: 1%;
    height: 10%;
    width: 30%;
  }
  nav img{
    margin-top: 5px;
  }
  #googleimg{
    margin-top: 100px;
  }
  a{
    margin-top: 8px;
    text-decoration: none;
  }
  button{
    border-radius: 3px;
    height:100%;
    padding:5px 12px;
    background-color:blue ;
    color:black;
    border:1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  }
  #maindiv{
  width:39%;
  border-radius: 40px;
  display: flex;
  height:40px;
  border:2px solid black;
  }
  #inputspan{
    width:80%;
  }
  span{
    vertical-align:bottom;
    
    
  }
  span:first-child{
    width:10%;
    border-radius: 50px;
    margin-top: 12px;
    border: 1;
  }
  span:last-child{
    width:10%;
    border-radius: 50px;
    margin-top: 12px;
    border: 1;
  }
  input{
    position: relative;
    height: 100%;
    width:102%;
    border:0;
    padding:0px;
    border-radius: 40px;
  
  }
  section{
    display: flex;
    margin-top:10px;
    width:23%;
    justify-content: space-around;
    margin-bottom: 2%;
  }
  section button{
    align-self: auto;
    border-radius: 13px;
    height:50px;
    width: 500px;
    padding:15px 36px;
    background-color:grey ;
    color:black;
    border:0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
  }
  ul{
    display: flex;
    width: 30%;
    padding-left: 0px;
    list-style: none;
    justify-content: space-around;
    margin: 6px;
  }
  #Bottomdiv{
    display:flex;
    font-size: 12px;
    margin-top: 3%;
  }
  #Bottomdiv span{
    width:7%;
    margin-left: 31%;
  }
  a:hover{
    text-decoration: wavy;
  }
  button:hover{
    border: 1px solid gray;
    background-color: white;
  
  }
  search{
    
      background-repeat: no-repeat;
      background-position: left;   
      font-size : 29px;
     
    }
  
  